<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>ContactSheet</string>
	<key>CFBundleIdentifier</key>
	<string>com.nielsfranke.contactsheet.captureone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleName</key>
	<string>ContactSheet</string>
	<key>CFBundleIconFile</key>
	<string>ContactSheet</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleGetInfoString</key>
	<string>Upload selected variants to a ContactSheet gallery.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Niels Franke. MIT licensed.</string>
	<key>COPluginAuthor</key>
	<string>Niels Franke</string>
	<key>COPluginAuthorURL</key>
	<string>https://github.com/nielsfranke/contactsheet</string>
	<key>NSPrincipalClass</key>
	<string>CSContactSheetPlugin</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
</dict>
</plist>
